<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--filter check exist session for sign in-->

    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>servlets.controllers.CustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/processcustomer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AppartsController</servlet-name>
        <servlet-class>servlets.controllers.AppartsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppartsController</servlet-name>
        <url-pattern>/appartslist</url-pattern>
    </servlet-mapping>
</web-app>